.hero {
  background-color: #1d75de;
  margin: 0;
  color: #fff;
  text-align: center;
  padding: 15px;
  padding: var(--app-padding);
  min-height: calc(480px - 30px);

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero h1.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 1rem;
}

.terms {
  font-size: 11px;
}

.terms a {
  text-decoration: underline;
  color: #ffff;
}

.button-group {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}

@media (max-width: 500px) {
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .hero h1.title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
}
